<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <title>Voting App</title>

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
    <% include ../partials/header.ejs %>
    <main class="mdl-layout__content">
        <% include ../partials/banner.ejs %>

    </main>
    <% include ../partials/footer.ejs %>
</div>

</body>
</html>